---
layout: blog
---

<section class="mt-15">
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}


<div class=" w-full grid grid-cols-10 sm:grid-cols-8 bg-gray-200">
  <div class="relative bg-gray-800  rounded-md text-center m-2 col-span-2 sm:col-span-2">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      <p class="text-white">{{post.data.day}}</p>
      <h2 class="  text-white font-bold text-lg ">{{post.data.month-date}}</h2>
      <p class="text-white">{{post.data.year}}</p>
    </div>
  </div>
  <div class="py-6 px-0 sm:p-4 col-span-6 sm:col-span-4 text-gray-800 flex-col sm:flex justify-start">
      <h1 class="text-2xl mr-2">{{post.data.city}}</h1>
      <h2 class="text-2xl mr-2 mb-2">{{post.data.venue}}</h2>
  </div>
  <div class="col-span-2 sm:col-span-2 relative">
        <button class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"><a href="{{post.data.link}}" 
            class="bg-red-800 text-white py-1 px-2 rounded animate-pulse">{{post.data.button-text}}</a></button>
  </div>
</div>
        <!--article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ post.date | readableDate }}
                    by
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg">
                    Read more →
                </a>
            </p>

        </article-->
    {% endfor %}
</section>