---
layout: default
title: George Murphy | The Rising Sons
author: Conversegy.com
description: George Murphy & The Rising Sons - Meet the lads behind the music.
keywords: George Murphy Music, George Murphy and the Rising Sons, Traditional Irish Singer, Irish Singer Songwriter
path: the-rising-sons
---
 
<header>
  <!-- NAV-->
  <nav class="fixed top-0 z-10 flex flex-wrap items-center justify-between w-full px-6 py-4 bg-black" id="navbar">
    <!--Logo Top Left-->
    <div class="items-center flex-shrink-0 mr-6 text-white">
      <a class="text-white no-underline hover:text-white hover:no-underline" href="/index.html">
        <span class="pl-2 text-2xl"><i class="em em-grinning"></i> GEORGE MURPHY</span>
      </a>
    </div>

    <div class="block">
      <button id="nav-toggle"
        class="flex items-center px-3 py-2 text-white border border-white rounded flex-column hover:text-red-600 hover:border-red-600 transition delay-300 duration-700 ease-in-out ">
        <svg class="w-5 h-5 fill-current" viewBox="0 0 20 20" xmlns="/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    

    <div class="items-center flex-grow hidden w-full pt-0 lg:pt-0" id="nav-content">
      <ul class="flex-col text-xl pl-1">
        <li class="mr-2 flex justify-center">
          <a class="inline-block px-4 py-1 text-gray-600 no-underline hover:text-gray-200 hover:text-underline
          hover:bg-red-500 hover:rounded-sm" href="/index.html">Home</a>
        </li>
        <li class="mr-2 flex justify-center">
          <a class="inline-block px-4 py-1  text-gray-600 no-underline hover:text-gray-200 hover:text-underline hover:bg-red-500 hover:rounded-sm"
            href="/shop">Shop</a>
        </li>
        <li class="mr-2 flex justify-center">
          <a class="inline-block px-4 py-1 text-gray-600 no-underline hover:text-gray-200 hover:text-underline
           hover:bg-red-500 hover:rounded-sm"
            href="/about">About</a>
        </li>
        <li class="mr-2 flex justify-center">
          <a class="inline-block px-4 py-1 text-gray-600 no-underline hover:text-gray-200 hover:text-underline
          hover:bg-red-500 hover:rounded-sm"
            href="/tour">Tour Dates</a>
        </li>
        <li class="mr-2 flex justify-center">
          <a class="inline-block px-4 py-1 text-white font-bold no-underline 
          hover:text-gray-200"
            href="/the-rising-sons">The Rising Sons</a>
        </li>
        <li class="mr-2 flex justify-center">
          <a class="inline-block px-4 py-1 text-gray-600 no-underline hover:text-gray-200 hover:text-underline hover:bg-red-500 hover:rounded-sm"
            href="/about/#contact">Contact Me</a>
        </li>
      </ul>

      <!-- Nav Social Icons-->
      {% include "../_includes/partials/nav-social-links.html" %}
    </div>


  </nav>
</header>
<!--Hero Section-->
<div class="flex flex-col flex-grow bg-black w-full">
    <div class="flex flex-col items-center w-full pt-4 md:pt-11">
        <!--HERO IMAGE-->
        <div class="flex w-full p-0 m-0">
            <img class="hidden w-full p-0 m-0 text-gray-900 fill-current sm:inline-flex"
                src="/static/img/George-Murphy-Rising-Sons-Purple.webp" alt="George Murphy Music Offical Website">
            <img src="/static/img/19-George-Murphy-Hero-Mobile.webp" alt="George Murphy Music Offical Website"
                class="visible w-full p-0 m-0 sm:hidden">
        </div>
    </div>
     <!--Social Icons under Hero-->
     {% include "../_includes/partials/social-links.html" %}
</div>

<section class="text-gray-200 body-font">
  <div class="w-full px-5 pb-2 mx-auto sm:w-full">
    <div class="px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
      <div class="max-w-screen-sm mx-auto mb-8 lg:mb-16">
        <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-white">Meet the Band</h2>
      </div>
      <!--David Brown-->
      <div class="flex flex-col items-center pb-10 mx-auto mb-10 border-b border-gray-200 md:w-3/5">
        <div class="inline-flex items-center justify-center flex-shrink-0 rounded-full h-50 w-50">
          <img loading="lazy" src="/static/img/David-Brown.webp" alt="" class="rounded-full">
        </div>
        <div class="flex-grow mt-6">
          <h2 class="mb-2 text-3xl font-medium text-white title-font">David Brown</h2>
          <p class="text-2xl leading-relaxed text-left">
            Referred to as "The Whistling Wizard" Dave has been playing with George for the best part of 20 years.
            Being first cousins and best friends they set up a local session together which became The Rising Sons.
          </p><br>
          <p class="text-2xl leading-relaxed text-left">
            In the beginning Dave was just helping George to have a bigger and better sound but having always shown
            a brilliant vocal himself he has built a following in his own right as a performer and has a great
            confidence, presence and
            experience on the stage.</p>
        </div>
      </div>
      <!--Declan Parsons-->
      <div class="flex flex-col items-center pb-10 mx-auto mb-10 border-b border-gray-200 lg:w-3/5 ">
        <div class="inline-flex items-center justify-center flex-shrink-0 rounded-full h-50 w-50">
          <img loading="lazy" src="/static/img/The-Rising-Sons-Declan-Parsons.webp" alt="" class="rounded-full">
        </div>
        <div class="flex-grow mt-6">
          <h2 class="mb-2 text-3xl font-medium text-white title-font">Declan Parsons</h2>
          <p class="text-2xl leading-relaxed text-left">
            Declan is a multi instrumentalist who plays guitar, mandolin, whistles, piano and also sings very well.
          </p><br>
          <p class="text-2xl leading-relaxed text-left"> Joining up with The Rising Sons session from day 1 he
            proved himself to be a huge asset to the group with his unique playing style, his huge repertoire of
            songs, great knowledge of the art and finally his song writing abilities. </p><br>
          <p class="text-2xl leading-relaxed text-left">He wrote a brilliant song for the group entitled 'Sidneys
            Boys'. The song is about his great grand uncles, IRA members, who died in 1921 after burning down the
            Custom House.
            Sidney was their mothers name and the song is told through her eyes</p>
        </div>
      </div>
      <!--Jimmy Morrison-->
      <div class="flex flex-col items-center pb-10 mx-auto mb-10 border-b border-gray-200 lg:w-3/5 ">
        <div class="inline-flex items-center justify-center flex-shrink-0 rounded-full h-50 w-50">
          <img loading="lazy" src="/static/img/Jimmy-Morrison.webp" alt="" class="rounded-full">
        </div>
        <div class="flex-grow mt-6">
          <h2 class="mb-2 text-3xl font-medium text-white title-font">Jimmy Morrison</h2>
          <p class="text-2xl leading-relaxed text-left">
            Jimmy is another multi instrumentalist who plays guitar, banjo, octave mandolin and harmonica. </p>
          <br>
          <p class="text-2xl leading-relaxed text-left">
            Jimmy has played in many bands and at many sessions over the years gathering a wealth of knowledge and a
            huge catalogue of songs and tunes. </p>
          <br>
          <p class="text-2xl leading-relaxed text-left">
            He brought his talents to the table of The Sons sessions and has been a permanent fixture ever since.
          </p>
        </div>
      </div>
      <!--Joey 'The Bass' Hughes-->
      <div class="flex flex-col items-center pb-10 mx-auto mb-10 border-b border-gray-200 lg:w-3/5 ">
        <div class="inline-flex items-center justify-center flex-shrink-0 rounded-full h-50 w-50">
          <img loading="lazy" src="/static/img/Joey-Hughes.webp" alt="" class="rounded-full">
        </div>
        <div class="flex-grow mt-6">
          <h2 class="mb-2 text-3xl font-medium text-white title-font">Joey 'The Bass' Hughes</h2>
          <p class="text-2xl leading-relaxed text-left">
            Joey is the man who has been there, done that and worn the T-Shirt. </p><br>
          <p class="text-2xl leading-relaxed text-left">
            Playing with bands for many many years Joey, who recently celebrated his 70th birthday, is fit as a
            fiddle and decided to take his bass down off the wall and dust it off when he heard of a little session
            starting down the road from his house. </p><br>
          <p class="text-2xl leading-relaxed text-left">
            The Bass took the sound and dynamic of the group to new places and gave the songs a huge lift. </p><br>
          <p class="text-2xl leading-relaxed text-left">
            It was this lift that made the lads think perhaps this is a show we could take on the road and play the
            big stages around the country.</p>
        </div>
      </div>
      <!--Tommy Whelan-->
      <div class="flex flex-col items-center pb-10 mx-auto mb-10 border-b border-gray-200 lg:w-3/5 ">
        <div class="inline-flex items-center justify-center flex-shrink-0 rounded-full h-50 w-50">
          <img loading="lazy" src="/static/img/Tommy-Whelan.webp" alt="" class="rounded-full">
        </div>
        <div class="flex-grow mt-6">
          <h2 class="mb-2 text-3xl font-medium text-white title-font">Tommy Whelan</h2>
          <p class="text-2xl leading-relaxed text-left">
            Tommy is the Sons electric guitarist and has riffs in his fingers that Hendrix would be proud of. </p>
          <br>
          <p class="text-2xl leading-relaxed text-left">
            A master of knowing how to build a song Tommy knows how important an ingredient the electric is and
            therefore ya might not hear him coming in shredding the electric all the time as a lot of the songs just
            dont require it however when he does come in it has a wow factor that has the listener on the edge of
            their seats. </p><br>
          <p class="text-2xl leading-relaxed text-left">
            Playing in great rock bands over the years Tommy has found a new home with his fellow Sons and knows
            exactly how to apply himself within the group.</p>
        </div>
      </div>
      <!--Shane O Hannigan-->
      <div class="flex flex-col items-center pb-10 mx-auto mb-10 border-b border-gray-200 lg:w-3/5 ">
        <div class="inline-flex items-center justify-center flex-shrink-0 rounded-full h-50 w-50">
          <img loading="lazy" src="/static/img/Shane-O-Hannigan.webp" alt="" class="rounded-full">
        </div>
        <div class="flex-grow mt-6">
          <h2 class="mb-2 text-3xl font-medium text-white title-font">Shane O Hannigan</h2>
          <p class="text-2xl leading-relaxed text-left">
            Shane is the Sons percussionist and has an unorthodox style of playing that marries perfectly with The
            Sons sound. </p><br>
          <p class="text-2xl leading-relaxed text-left">
            Having been smacking a bodhran since he was in nappies Shane found a way to play along with literally
            any genre of music spanning from classic ballads to gangster rap. </p><br>
          <p class="text-2xl leading-relaxed text-left">
            Shane can hold a room playing a tune all on his own. People are drawn to the beats and chemistry he
            provides and he has become a huge part of The Sons overall sound.</p>
        </div>
      </div>
      <!--Sean Regan-->
      <div class="flex flex-col items-center pb-10 mx-auto mb-10 border-b border-gray-200 lg:w-3/5 ">
        <div class="inline-flex items-center justify-center flex-shrink-0 rounded-full h-50 w-50">
          <img loading="lazy" src="/static/img/The-Rising-Sons-Sean-Regan.webp" alt="" class="rounded-full">
        </div>
        <div class="flex-grow mt-6">
          <h2 class="mb-2 text-3xl font-medium text-white title-font">Sean Regan</h2>
          <p class="text-2xl leading-relaxed text-left">
            Sean is one of the most talented fiddle players in the land. </p><br>
          <p class="text-2xl leading-relaxed text-left">
            Providing his talents for Sharon Shannon, Damien Dempsey and Finbar Furey to name but a few The Sons
            couldn't believe their luck when Sean came onboard to offer his services to the group. </p><br>
          <p class="text-2xl leading-relaxed text-left">
            His ideas when it comes to song writing and studio work are and have been invaluable. </p><br>
          <p class="text-2xl leading-relaxed text-left">
            Being a thoroughbred professional he brings out the best in all musicians around him and his onstage
            sound and presence is unmatched as far as The Sons are concerned. </p>
        </div>
      </div>
      <!--button
        class="flex px-8 py-2 mx-auto mt-20 text-lg text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-600">Button</button-->
    </div>
</section>
    <!--Youtube-->
    <div class="max-w-screen-md mx-auto mb-8 lg:mb-16">
        <h2 class="mb-4 text-4xl font-extrabold text-center tracking-tight text-white">Watch The Rising Sons Live</h2>
      </div>
      <div class="youtube-player" data-id="hGrC6d0pqTM"></div>